<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Remember Me::새로운 추모 문화</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- 구글 폰트-->


    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!--탑바-->
<th:block th:replace="@{member/fragment/topBar.html} :: topBar"></th:block>
<!-- 메인 이미지 -->
<header class="masthead-memorial bg-home text-white text-center">
    <img class="logo" style="width:40%" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo.svg">
    <div class="container d-flex align-items-center flex-column">
        <!-- 헤드 카피-->
        <h2 class="mt-lg-4">새로운 추모 문화를 만듭니다.</h2>
        <h4>추모관 만들기</h4>
    </div>
</header>
<!-- 로그인 세션-->
<section class="page-section bg-light" id="login">
    <div class="container" style="width: 100% ;max-width: 800px; margin: 0 auto">
        <div class="bg-white border p-5 rounded">
            <form class="new_memorial" id="new_memorial" enctype="multipart/form-data"
                  th:action="@{/memorial/new}" th:object="${memorial}" accept-charset="UTF-8" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <h3>추모대상 정보</h3>
                        <div class="form-group">
                            <div class="form-group">
                                <label>이름
                                    <input autofocus="autofocus" th:field="*{name}" placeholder="이름" class="form-control" type="text"
                                           id="memorial_name" required>
                                    <span class="ui-state-error-text text-warning" th:errors="*{name}"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>생년월일
                                    <input type="date" th:field="*{birthDate}" class="form-control" id="memorial_birth_date" max="9999-12-31" required>
                                    <span class="ui-state-error-text text-warning" th:errors="*{birthDate}"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>기일
                                    <input type="date" th:field="*{deathDate}" class="form-control" id="memorial_death_date" max="9999-12-31" required>
                                    <span class="ui-state-error-text text-warning" th:errors="*{deathDate}"></span>
                                </label>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <div class="form-group">
                                    <label>공개 여부
                                        <select class="form-select" th:field="*{locked}">
                                            <option value="false">모두에게 공개</option>
                                            <option value="true">비밀번호 입력 시 공개</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="password" th:field="*{password}" class="form-control mt-3" style="display: none" placeholder="비밀번호">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <h3>메인 인물 사진</h3>
                                </div>
                                <img id="img_prev" style="max-width: 100%; margin: 10px auto"
                                     src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/noImg.png">
                                <input class="form-control" type="file" name="uploadPhoto" accept="image/*" required
                                       id="memorial_main_image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-dark float-end" type="submit">추모관 생성</button>
                </div>
            </form>
        </div>
    </div><!-- .container -->
</section>
<!-- footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Logo-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img class="logo" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo-white.svg">
                <div class="text-center mt-2 lead">리멤버 미, 새로운 추모 문화</div>
            </div>
            <!-- Footer Social-->
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mt-3">
                <h5 class="text-uppercase mb-2">연락처</h5>
                <p class="mb-0">
                    zanygeek8371@gmail.com
                </p>
                <p class="mb-0">
                    010-6735-6203
                </p>
            </div>
        </div>
    </div>
</footer>
<script>
    function readImage(input) {
        // 인풋 태그에 파일이 있는 경우
        if (input.files && input.files[0]) {
            // 이미지 파일인지 검사 (생략)
            // FileReader 인스턴스 생성
            const reader = new FileReader()
            // 이미지가 로드가 된 경우
            reader.onload = e => {
                const previewImage = document.getElementById("img_prev")
                previewImage.src = e.target.result
            }
            // reader가 이미지 읽도록 하기
            reader.readAsDataURL(input.files[0])
        }
    }

    const locked = document.getElementById("locked");
    const password = document.getElementById("password");
    locked.addEventListener("change", function (){
        if(this.value==="false")
            password.style.display="none";
        else
            password.style.display="block";
    })
    // input file에 change 이벤트 부여
    const inputImage = document.getElementById("memorial_main_image")
    inputImage.addEventListener("change", e => {
        readImage(e.target)
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>