<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Remember Me::새로운 추모 문화</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!--구글 폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&family=Nanum+Brush+Script&family=Nanum+Myeongjo:wght@400;800&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;500&display=swap"
          rel="stylesheet">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body id="page-top">
<!--탑바-->
<th:block th:replace="@{/member/fragment/topBar.html} :: topBar"></th:block>
<header class="masthead-memorial bg-bada text-white text-center">
</header>
<!-- 리스트 세션-->
<section class="mt-lg-5">
    <!--메인 홈-->
    <div class="container p-5 bg-light">
        <h3>메인 홈 관리</h3>
        <div class="edit">
            <div class="w-edit border border-1 p-3 rounded border-dark">
                <h3>메인 인물 사진</h3>
                <!--메인 이미지 변경-->
                <form enctype="multipart/form-data"
                      th:action="@{{memorialId}/mainPhoto(memorialId=${memorial.id})}" accept-charset="UTF-8"
                      method="post">
                    <img id="img_prev" style="height: 25vh; margin: 10px auto"
                         th:src="${mainImg.url}">

                    <div class="w-100">
                        <label>
                            사진 변경
                            <input class="form-control" type="file" name="photo" id="memorial_main_image">
                        </label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-dark">저장</button>
                    </div>
                </form>
            </div>
            <div class="w-edit border border-1 p-3 rounded border-dark">
                <span>메인 홈, 문구</span>
                <form accept-charset="UTF-8" method="post"
                      th:action="@{{memorialId}/mainText(memorialId=${memorial.id})}">
                    <textarea rows="10" class="w-100" id="mainText" name="mainText"
                              placeholder="약력이나 부고의 메시지를 적어주세요."
                              th:text="${#strings.isEmpty(memorial.mainText)}?'':${memorial.mainText}"></textarea>
                    <div class="text-center">
                        <button class="btn btn-outline-dark">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--갤러리 -->
    <div class="container p-5 bg-light-gray">
        <h3>사진 관리</h3>
        <div class="">
            <div class="w-100 border border-1 p-3 rounded border-dark">
                <span>사진 리스트</span>
                <div class="row justify-content-center">
                    <div th:if="${Memorialphoto.main==null || not Memorialphoto.main}" class="col-4"
                         th:each="Memorialphoto:${memorial.photo}">
                        <form method="post" th:object="${photo}"
                              th:action="@{{memorialId}/deletePhoto(memorialId=${memorial.id})}">
                            <img th:src="${Memorialphoto.url}" class="w-100">
                            <input type="hidden" id="url" name="url" th:value="${Memorialphoto.url}">
                            <button class="btn float-end"><i class="fa fa-delete-left text-black me-2"></i>삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--지도-->
    <div class="container p-5 bg-light">
        <h3>지도 관리</h3>
        <div class="">
            <div class="w-100 border border-1 p-3 rounded border-dark">
                <div class="row justify-content-center">
                    <form method="post" th:object="${map}"
                          th:action="@{{memorialId}/editMap(memorialId=${memorial.id})}">
                        <span>장소 이름 </span>
                        <input type="text" th:field="*{id}" hidden th:value="*{id}" th:if="${map}">
                        <input type="text" th:field="*{name}" placeholder="ex) 장례식장 오시는 길">
                        <span> 주소 검색 </span>
                        <button type="button" class="btn p-0 mx-2 mt-4 d-flex flex-column align-items-center"
                                data-bs-toggle="modal" data-bs-target="#search">검색
                        </button>
                        <input type="text" readonly th:field="*{address}" id="address">
                        <input type="text" hidden th:field="*{title}" id="title">
                        <span>
                        <textarea th:field="*{description}"></textarea>
                    </span>
                        <button type="submit" class="btn btn-secondary mt-3">저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--공개 범위-->
    <div class="container p-5 bg-light-gray">
        <h3>공개 범위 관리</h3>
        <h4>및 삭제</h4>
        <div class="edit">
            <div class="w-edit border border-1 p-3 rounded border-dark">
                <form method="post" th:object="${disclosureForm}"
                      th:action="@{{memorialId}/disclosure(memorialId=${memorial.id})}">
                    <div class="form-group">
                        <label>공개 여부
                            <select class="form-select" id="locked" name="locked">
                                <option value="false">모두에게 공개</option>
                                <option value="true" th:selected="${memorial.locked}">비밀번호 입력 시 공개</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="password" th:field="*{password}"
                                   th:style="${memorial.locked}?'':'display: none'" class="form-control mt-3"
                                   placeholder="비밀번호">
                        </label>
                    </div>
                    <button class="btn btn-secondary mt-3">저장</button>
                </form>
            </div>
            <div class="w-edit  border border-1 p-3 rounded border-dark d-flex flex-column">
                <span>추모 공간 삭제</span>
                <span>삭제하면, 모든 내용을 되돌릴 수 없습니다.</span>
                <div class="text-center my-4">
                    <a class="btn btn-danger" id="memorialDelete"
                       th:href="@{{memorialId}/deleteMemorial(memorialId=${memorial.id})}">삭제</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="search" tabindex="-1" aria-labelledby="write" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <span>주소 검색</span>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <label>
                    <input type="text" id="searchText">
                    <button id="searchBtn">검색</button>
                </label>
                <table id="addressTable">
                    <tr>
                        <td>장소명</td>
                        <td>주소</td>
                        <td>선택</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function readImage(input) {
        // 인풋 태그에 파일이 있는 경우
        if (input.files && input.files[0]) {
            // 이미지 파일인지 검사 (생략)
            // FileReader 인스턴스 생성
            const reader = new FileReader()
            // 이미지가 로드가 된 경우
            reader.onload = e => {
                const previewImage = document.getElementById("img_prev")
                previewImage.src = e.target.result
            }
            // reader가 이미지 읽도록 하기
            reader.readAsDataURL(input.files[0])
        }
    }

    // 추모관 암호 설정 자바스크립트
    const locked = document.getElementById("locked");
    const password = document.getElementById("password");
    locked.addEventListener("change", function () {
        if (this.value === "false")
            password.style.display = "none";
        else
            password.style.display = "block";
    })

    //추모공간 삭제 자바스크립트
    const memorialDelete = document.getElementById("memorialDelete");
    memorialDelete.addEventListener('click', function () {
        return confirm('추모 공간을 삭제하면, 모든 기록을 되돌릴 수 없습니다.\n정말 삭제 하시겠습니까?');
    })
    // input file에 change 이벤트 부여
    const inputImage = document.getElementById("memorial_main_image")
    inputImage.addEventListener("change", e => {
        readImage(e.target)
    })

    //주소 검색 ajax
    //상호명으로 검색, 주소로 검색
    const searchBtn = document.getElementById("searchBtn");
    const searchText = document.getElementById("searchText");

    //상호명으로 검색
    function get() {
        $.ajax({
            url: "/address/" + searchText.value,
            method: "GET",
            dataType: "json"
        }).done(function (json) {
            let i;
            var addressTable = $("#addressTable");
            addressTable.empty();
            addressTable.html(" <tr><td>장소명</td><td>주소</td> <td>선택</td> </tr>")
            if (json.display === 0) {
                $.ajax({
                    url: "https://www.juso.go.kr/addrlink/addrLinkApi.do"
                    , method: "get"
                    , dataType: "json",
                    data: {
                        "currentPage": "1",
                        "countPerPage": "50",
                        "keyword": searchText.value,
                        "resultType": "json",
                        "confmKey": "U01TX0FVVEgyMDIyMDUwMzAzMjkwNjExMjUyNzE="
                    }
                }).done(
                    //상호명 검색 결과가 없으면 주소로 검색
                    function (json) {
                        if (json.results.common.totalCount === 0) {
                            addressTable.append("<td>검색 결과가 없습니다.</td>");
                        } else {
                            for (i in json.results.juso) {
                                var $title = json.results.juso[i].sggNm;
                                var $address = json.results.juso[i].roadAddr;
                                var $jibunAddr = json.results.juso[i].jibunAddr;
                                var btn = $('<button/>').attr('onclick', 'selectAddress(' + 'tr' + i + ')');

                                var row = $("<tr/>").attr('id', 'tr' + i).append(
                                    $("<td/>").attr('name', 'title').html($title),
                                    $("<td/>").attr('name', 'address').html($address),
                                    $("<td/>").append(btn)
                                );
                                addressTable.append(row).append($("<tr/>").append($("<td/>").attr('colspan', '3').text($jibunAddr)));
                            }
                        }
                    })
            } else {
                for (i = 0; i < json.display; i++) {

                    var $title = json.items[i].title;
                    var $address = json.items[i].address;
                    var btn = $('<button/>').attr('onclick', 'selectAddress(' + 'tr' + i + ')');
                    var row = $("<tr/>").attr('id', 'tr' + i).append(
                        $("<td/>").attr('name', 'title').html($title),
                        $("<td/>").attr('name', 'address').html($address),
                        $("<td/>").append(btn)
                    );
                    addressTable.append(row);
                }
            }
        });


    }

    searchText.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            get();
        }
    });
    searchBtn.addEventListener('click', get);

    function selectAddress(tr) {
        var address = tr.children[name = "address"].innerText;
        var title = tr.children[name = "title"].innerText;
        $('#address').val(address);
        $('#title').val(title);
        $('#search').modal('hide');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>