<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Remember Me::새로운 추모 문화</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- 구글 폰트-->


    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- 탑바-->
<th:block th:replace="@{member/fragment/topBar.html} :: topBar"></th:block>
<!-- 메인 이미지 -->
<header class="masthead-memorial bg-home text-white text-center">
    <img class="logo" style="width:40%" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo.svg">
    <div class="container d-flex align-items-center flex-column">
        <!-- 헤드 카피-->
        <h2 class="mt-lg-4">새로운 추모 문화를 만듭니다.</h2>
        <h4>아이디/비밀번호 찾기</h4>
    </div>
</header>
<div class="w-100 py-3 fs-5 text-center" th:if="${loginMessage}" style="background-color: #eeddaa;">추모공간을 만들기 위해선 로그인이
    필요합니다.
</div>
<!-- 아이디 비밀번호 찾기 세션-->
<section class="page-section bg-light" id="login">
    <div class="container">
        <div class=" border border-1 p-5 bg-white">
            <div class="panel-body">
                <div class="form-signin">
                    <p class="hidden-xs">리멤버 미,</p>
                    <hr id="findId">
                    <h2>아이디찾기</h2>
                    <form th:action="@{/find/id}" th:object="${idForm}" method="post">
                        <div class="d-block mx-auto text-center mt-4">
                            <label>이름 <input type="text" th:field="*{name}" class="ms-4 me-lg-5 me-md-4 form-text"  placeholder="이름 입력란"></label>
                            <label>이메일<input type="email" class="ms-3 form-text" th:field="*{email}" placeholder="이메일"></label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-auto d-block mt-3">찾기</button>
                        <span th:if="${starId}" class="text-warning d-block text-center mt-4" th:text="${starId}"></span>
                    </form>
                    <hr id="findPassword">
                    <h2>임시 비밀번호 받기</h2>
                    <form th:action="@{/find/password}" th:object="${passwordForm}" method="post">
                        <div class="d-block mx-auto text-center mt-4">
                            <label>이름 <input type="text" th:field="*{name}" class="ms-4 me-lg-5 form-text"  placeholder="이름 입력란"></label>
                            <label>아이디<input type="text" class="ms-3 me-lg-5 form-text" th:field="*{userId}" placeholder="아이디 입력란"></label>
                            <label>이메일<input type="email" class="ms-3 form-text" th:field="*{email}" placeholder="이메일"></label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-auto d-block mt-3">임시 비밀번호 발급</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Logo-->
            <div class="col-lg-4 mb-5 ">
                <img class="logo" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo-white.svg">
                <div class="text-center mt-2 lead">리멤버 미, 새로운 추모 문화</div>
            </div>
            <!-- Footer Social-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase mb-2">연락처</h5>
                <p class="mb-0">
                    zanygeek8371@gmail.com
                </p>
                <p class="mb-0">
                    010-6735-6203
                </p>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase mb-2">-</h5>
                <p class="mb-0">
                    <a class="text-white" target="_blank" href="/개인정보처리방침.html">정보처리 수집/동의 전문</a>
                </p>
                <p class="mb-0">
                    <a class="text-white" target="_blank" href="/이용약관.html">이용약관 전문</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script th:inline="javascript">
    [# th:if= "${passwordConfirm}"]
    alert([[ ${passwordConfirm} ]]);
    [/]
</script>
</html>