<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Remember Me::새로운 추모 문화</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- 구글 폰트-->


    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- 탑바-->
<th:block th:replace="@{member/fragment/topBar.html} :: topBar"></th:block>
<!-- 메인 이미지 -->
<header class="masthead-memorial bg-home text-white text-center">
    <img class="logo" style="width:40%" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo.svg">
    <div class="container d-flex align-items-center flex-column">
        <!-- 헤드 카피-->
        <h2 class="mt-lg-4">새로운 추모 문화를 만듭니다.</h2>
        <h4>회원 가입</h4>
    </div>
</header>
<!-- 회원가입 세션-->
<section class="page-section bg-light" id="join">
    <div class="container d-flex align-items-center flex-column border border-1 py-lg-5 bg-white">
        <h2>회원 가입</h2>
        <span th:text="${mail}+'로 인증 메일이 10초~1분 내에 발송됩니다. 메일 인증은 10분 동안만 유효합니다.'"></span>
    </div>
</section>
<!-- footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Logo-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img class="logo" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo-white.svg">
                <div class="text-center mt-2 lead">리멤버 미, 새로운 추모 문화</div>
            </div>
            <!-- Footer Social-->
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mt-3">
                <h5 class="text-uppercase mb-2">연락처</h5>
                <p class="mb-0">
                    zanygeek8371@gmail.com
                </p>
                <p class="mb-0">
                    010-6735-6203
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>