<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topBar">
    <!-- 네비게이션-->
    <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
        <div class="container na">
            <a class="navbar-brand" th:href="@{/}"><img class="logo" src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo-white.svg"></a>
            <a class="nav-link py-3 px-2" href="#about"
               th:if="${#httpServletRequest.requestURI=='/'or#httpServletRequest.requestURI=='/contact'}">소개</a>
            <a class="nav-link py-3 px-2" href="#search"
               th:if="${#httpServletRequest.requestURI=='/'or#httpServletRequest.requestURI=='/contact'}">추모공간 찾기</a>
            <a class="nav-link py-3 px-2" href="#contact"
               th:if="${#httpServletRequest.requestURI=='/'or#httpServletRequest.requestURI=='/contact'}">문의하기</a>
            <!--모바일 네비게이션-->
            <div style="margin-left: auto">
            <button class="navbar-toggler text-uppercase text-white font-weight-bold rounded" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item ms-3 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/memorial/example">샘플
                        추모관</a></li>
                    <li class="nav-item ms-3 mx-lg-1" th:unless="${member}">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/login}"><i class="fa-solid fa-user"></i>
                            로그인</a></li>
                    <li class="nav-item ms-3 mx-lg-1" th:if="${member}">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/memorial/edit}" th:if="${member}"><i class="fa-solid fa-monument"></i> 추모공관 관리</a></li>
                    <li class="nav-item ms-3 mx-lg-1" th:if="${member}">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/edit}"><i class="fa-solid fa-user"></i> 프로필</a>
                    </li>
                    <li class="nav-item ms-3 mx-lg-1" th:if="${member}">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/logout}"><i class="fa-solid fa-user"></i> 로그아웃</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</th:block>
</html>