<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Remember Me::내가 준비 하는 온라인 추모관</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <!--fullpage-->
    <link rel="stylesheet" th:href="@{/css/fullpage.css}">
    <script type="text/javascript" th:src="@{/js/fullpage.js}"></script>
    <script type="text/javascript" th:src="@{/js/scrolloverflow.min.js}"></script>
    <!--구글 폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&family=Nanum+Brush+Script&family=Nanum+Myeongjo:wght@400;800&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;500&display=swap"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/image-uploader.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/image-uploader.min.js}"></script>
    <!--부트스트랩-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <!--네이버 map-->
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lhozmkgpcf"></script>
</head>
<body id="page-top">
<!-- 네비게이션-->
<nav class="p-3 bg-dark text-white fixed-top navbar navbar-expand-lg">
    <div class="container">
        <div class="d-flex">
            <ul class="nav mb-2 justify-content-center mb-md-0" id="menu">
                <li data-menuanchor="home"><a href="#home" class="nav-link px-1 text-white">홈</a></li>
                <li data-menuanchor="wreath"><a href="#wreath" class="nav-link px-1 text-white">헌화</a></li>
                <li data-menuanchor="obituary"><a href="#obituary" class="nav-link px-1 text-white">기억공유</a></li>
                <li data-menuanchor="photo"><a href="#photo" class="nav-link px-1 text-white">갤러리</a></li>
                <li data-menuanchor="location" th:if="${map}or${owner}"><a href="#location"
                                                                           class="nav-link px-1 text-white">위치</a></li>
                <li data-menuanchor="event"><a href="#event" class="nav-link px-1 text-white">일정</a></li>
            </ul>
            <!--모바일 네비게이션-->
            <button class="navbar-toggler text-uppercase font-weight-bold text-white rounded mx-2 p-0" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="flex-grow: 0" id="navbarResponsive">
            <button type="button" class="btn text-white btn-secondary nav-item mx-0 mx-lg-1" data-bs-toggle="modal"
                    data-bs-target="#alarm"><i
                    class="fa fa-bell"></i></button>
            <a class="text-white btn" th:href="@{/memorial/edit}" th:if="${owner}"><i class="fa-solid fa-user"></i>
                관리</a>
            <a class="text-white btn" th:href="@{/edit}" th:if="${member}"><i class="fa-solid fa-user"></i> 프로필</a>
            <a class="text-white btn" th:href="@{/login(redirectURL=${#httpServletRequest.requestURI})}"
               th:unless="${member}">로그인</a>
            <a class="text-white btn" th:href="@{/logout(redirectURL='/memorial/'+${memorialId})}" th:if="${member}">로그아웃</a>
            <a th:href="@{/}"><img src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo-white.svg" style="width:70px"></a>
        </div>
    </div>
</nav>

<!--프로핊 섹션-->
<div class="bg-bada vh-100 d-flex align-items-center ">
    <div class="mx-auto bg-black bg-opacity-25 rounded p-5">
        <div class="home-div">
            <div class=" d-flex flex-column text-center fw-bold" style="font-family: 'Noto Sans',serif">
                <span class="text-white fs-name mt-2" style="font-family: 'Stylish',serif">비공개 추모공간</span>
                <span class="text-white fw-bold fs-5 mt-4  w-100">암호를 입력해 주세요.</span><br class="f-date">
                <hr class="text-white border border-2">
                <div class="text-white">
                    <form th:action="@{/memorial/{memorialId}/password(memorialId=${memorial.id})}"
                          th:object="${memorialPassword}" method="post">
                        <input type="text" class="form-control" th:field="*{memorialId}" hidden>
                        <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호" value="">
                        <span class="d-block text-warning" th:text="${error}"></span>
                        <button class="btn btn-outline-light my-3">확인</button>
                    </form>
                    <a th:href="@{/memorial/edit/{memorialId}(memorialId=${memorial.id})}" th:if="${owner}"
                       class="btn btn-outline-light">추모공간 관리</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>