<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Remember Me::새로운 추모 문화</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!--탑바-->
<th:block th:replace="@{/member/fragment/topBar.html} :: topBar"></th:block>
<!-- 메인 이미지 -->
<header class="masthead bg-home text-white text-center">

    <img class="logo" th:src="@{/img/logo.svg}">
    <div class="container d-flex align-items-center flex-column">
        <!-- 헤드 카피-->
        <h1 class="mt-lg-4">새로운 추모 문화를 만듭니다.</h1>
        <div class="text-center mt-1"> 리멤버 미는 무료이며, 사랑하는 사람을 추모하는 새로운 방법입니다.</div>

        <div class="text-center mt-5">
            <a class="btn btn-xl btn-outline-secondary" th:href="@{memorial/new}">
                <i class="fa-solid fa-book-open"></i>
                리멤버 미, 추모 공간 만들기
            </a>
        </div>
    </div>
</header>
<!-- 소개 세션-->
<section class="page-section bg-light-gray" id="about">
    <div class="container text-center">
        <div>
            <h3>리멤버 미는,</h3><br>
            쉽고 빠르게, 온라인 추모관 만들 수 있는 서비스입니다.<br>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img src="img/ex.png" class="w-75">
            <a class="btn btn-outline-dark" href="memorial.html">샘플 추모관 이동</a>
        </div>
    </div>
</section>
<!-- 검색 세션-->
<section class="page-section bg-light" id="search">
    <div class="container text-center">
        <h3>추모 공간 찾기</h3>
        <form class="mt-4" method="get" th:action="@{/search}">
            <input type="text" id="searchName" name="searchName" class="form-control-sm" placeholder="이름">
            <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-search"></i>검색</button>
        </form>
        <div class="w-yr mt-5">
            <div class="my-3" th:if="${searchNone}">검색 결과가 없습니다.</div>
            <a th:href="@{/memorial/{memorialId}(memorialId=${memorial.id})}" class="text-black d-flex align-items-center justify-content-center my-3 btn" th:each="memorial,i:${memorials}" style="font-family: 'Nanum Myeongjo'">
                <span th:text="${i.index+1}" class="mx-2"></span>
                <img th:src="${memorial.mainPhoto.url}" class="col-sm-3 col-3 col-md-1 col-lg-1 me-3"/>
                <div class="mx-2">
                    <span class="mx-2 fs-5  d-block" th:text="${memorial.name}+'님 추모 공간'">OOO님 추모 공간</span>
                    <span class="d-block" th:if="${memorial.locked}">공개 범위: 비밀번호</span>
                    <span class="d-block" th:unless="${memorial.locked}">공개 범위: 전체</span>
                    <span class="d-block" th:text="'생년월일: '+${#dates.format(memorial.birthDate, 'yyyy년 MM월 dd일')}"></span>
                    <span class="d-block" th:text="'기일: '+${#dates.format(memorial.deathDate, 'yyyy년 MM월 dd일')}"></span>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- 문의하기 세션-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">문의 하기</h2>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form th:action="@{/contact}" th:object="${question}" method="post">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" th:field="*{name}" type="text"/>
                        <label for="name">이름</label>
                        <div class="feedback" th:errors="*{name}"></div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" th:field="*{email}" type="email"/>
                        <label for="email">이메일 주소</label>
                        <div class="feedback" th:errors="*{email}"></div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="tel" th:field="*{phoneNumber}" th:name="*{phoneNumber}"/>
                        <label for="phoneNumber">핸드폰 번호</label>
                        <span class="feedback" th:errors="*{phoneNumber}"></span>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" th:field="*{text}" type="text"></textarea>
                        <label for="text">메시지</label>
                        <div class="feedback" th:errors="*{text}"></div>
                    </div>
                    <button class="btn btn-primary btn-xl d-block mx-auto" id="submitButton" type="submit">보내기</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Logo-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img class="logo" th:src="@{/img/logo-white.svg}">
                <div class="text-center mt-2 lead">리멤버 미, 새로운 추모 문화</div>
            </div>
            <!-- Footer Social-->
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mt-3">
                <h5 class="text-uppercase mb-2">연락처</h5>
                <p class="mb-0">
                    zanygeek8371@gmail.com
                </p>
                <p class="mb-0">
                    010-6735-6203
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    [# th:if= "${anchorQuestion}"]
    window.location.hash = '#contact';
    [/]
        [# th:if= "${anchorSearch}"]
    window.location.hash = '#search';
    [/]
        [# th:if=${contactSuccess}]
    alert("문의해 주셔서 감사합니다.\n2일내에 입력 해 주신 메일 또는 휴대전화로\n답변 드리겠습니다.");
    [/]
    const profileBtn = document.getElementById("profile");
    const profileList = document.getElementById("profileList");
    profileBtn.addEventListener('click',function (){
        if(profileList.style.display==="none")
            profileList.style.display="block";
        else
            profileList.style.display="none";
    });
</script>
</html>
