<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background-color: #cfd7e1">
    <img src="https://remembermedisk.s3.ap-northeast-2.amazonaws.com/main/logo.png"
         style="width: 300px; display: block; margin: 1rem auto">
    <div style="text-align: center; background-color: #fffdfd; padding-bottom: 3rem; padding-top: 3rem">
        <h2>리멤버미</h2>
        <span th:text="'안녕하세요. '+${name}+' 님,'">안녕하세요. ㅇㅇㅇ님,</span><br>
        <span>새로운 추모 문화를 만들어 가는 </span><span style="color:green">리멤버미</span><span>입니다.</span><br><br>
        <span>요청 하신 알림 설정에 따라,</span><br>
        <span th:text="${memorialName}+' 님의, 기일 7일 전임을 알리는 메일을 발송드립니다.'">ooo 님의, 새로운 추모 행사가 등록 되었음을 알려드립니다.</span><br>
        <span style="display: block; margin-bottom: 2rem; margin-top: 2rem"
              th:text="'아래 버튼을 통해 '+${memorialName}+'님의 추모공간을 방문할 수 있습니다.'">자세한 사항은 아래 버튼을 통해 확인 하실 수 있습니다..</span>
        <a style="display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;    color: #ffffff;
    background-color: #519168;
    border-color: #0d6efd;" th:href="${memorialUrl}+'#event'">추모공간 방문</a>
    </div>
    <hr>
    <div style="color:#444d56; padding-left: 2rem; padding-bottom:1rem; font-size: 11px">
        <span style="display: block">발신정보</span><br>
        <div>
            <span>요청 하신 알람에 따라 리멤버미로 부터 발송 된 메일 입니다.</span></div>
        <span>리멤버미로 부터 더 이상의 메일 수신을 원하지 않으시면 </span><a th:href="${rejectSend}">해당
        링크</a><span>를 통해 수신 거부 하실 수 있습니다.</span><br><br>
        <span>특정 알람만 받지 않기를 원하신다면,</span><br>
        <span><a th:href="${url}">리멤버미</a> > 로그인 > 프로필 > 알림 설정을 통해 알림 요청을 해제 하실 수 있습니다.</span>
    </div>
</div>
</body>
</html>