<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Remember Me::내가 준비 하는 온라인 추모관</title>
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/4df461b32c.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- 구글 폰트-->


    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- 탑바-->
<th:block th:replace="@{/member/fragment/topBar.html} :: topBar"></th:block>
<!-- 메인 이미지 -->
<header class="masthead-memorial bg-home text-white text-center">
    <img class="logo" style="width:40%" th:src="@{/img/logo.svg}">
    <div class="container d-flex align-items-center flex-column">
        <!-- 헤드 카피-->
        <h2 class="mt-lg-4">새로운 추모 문화를 만듭니다.</h2>
        <h4>로그인</h4>
    </div>
</header>
<div class="w-100 py-3 fs-5 text-center" th:if="${loginMessage}" style="background-color: #eeddaa;">추모공간을 만들기 위해선 로그인이 필요합니다.</div>
<!-- 로그인 세션-->
<section class="page-section bg-light" id="login">
    <div class="container">
        <div class="w-yr text-center border border-1 p-5 bg-white">
            <div class="panel-body">
                    <h3 class="hidden-xs">리멤버 미, 이메일 수신거부</h3><br>
                <p  th:unless="${noAlarm}">리멤버미에서 전송되는 모든 이메일에 대해, 수신거부 하시겠습니까?</p>
                <div th:unless="${noAlarm}">
                    <a th:href="'/edit/email/unsubscribe/success?token='+${token}" class="text-center btn btn-outline-dark me-3">수신 거부</a>
                    <a th:href="'/'" class="text-center btn btn-secondary">취소</a>
                </div>
                <div th:if="${noAlarm}">
                    <span>수신 거부가 완료 되었습니다.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Logo-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img class="logo" th:src="@{/img/logo-white.svg}">
                <div class="text-center mt-2 lead">리멤버 미, 새로운 추모 문화</div>
            </div>
            <!-- Footer Social-->
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mt-3">
                <h5 class="text-uppercase mb-2">연락처</h5>
                <p class="mb-0">
                    zanygeek8371@gmail.com
                </p>
                <p class="mb-0">
                    010-6735-6203
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>